/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #41a495; /* Fondo azul verdoso */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* Estilos para el contenedor principal */
.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.9); /* Fondo blanco translúcido */
    padding: 20px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

/* Estilos para el título */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para los botones */
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; /* Espacio entre los botones */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
    background: #007acc; /* Fondo azul */
    color: #fff; /* Texto en blanco */
    border: none;
    border-radius: 5px;
    font-family: 'Poppins';
    width: 4rem;
}

/* Estilos para el botón 'No' cuando se mueve */
.move {
    animation: move 1s infinite;
}

@keyframes move {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(10px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

/* Estilos para el fondo oscuro y el video emergente */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
    z-index: 1;
}
#overlay h1{
    color: rgb(255, 255, 255);
    margin-top: 4rem;
}
#videoPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-height:50rem;
}
#closeButton {
    position:fixed;
    transform: translate(400%, 300%);
    background: #fff;
    color: #007acc;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}